.main {
    margin-left: 650px;
    width: 600px;
    height: 250px;
    background-color: mediumaquamarine;
    border-radius: 30px 60px;
}

.title {
    text-align: center;
}

.items {
    padding: 10px;
}

.btn {
    background-color: greenyellow;
    border-radius: 30px;
    width: 100px;
    height: 50px;
    margin-top: 60px;
    margin-left: 240px;
}

.objo{
    margin: 30px;
}

.valueO{
    height: 30px;
    border: none;
    color: white;
    border-radius: 30px;
    background-color: green;
}

